build/classes/.netbeans_automatic_build
nbproject/private/private.properties
build/test/classes/test/test.class
build/classes/jaxb/generated/libreria.xsd
build/classes/jaxb/generated/ObjectFactory.class
build/classes/db/Methods.class
build/classes/AAD.userlibraries
build/classes/AAD.iml
build/classes/.netbeans_update_resources
build/test/classes/.netbeans_update_resources
build/test/classes/.netbeans_automatic_build
build/classes/libreria.xml
build/classes/library.db4o
build/classes/jaxb/generated/LibroType.class
build/classes/AAD.eml
build/classes/practicaadd_libreria/PracticaADD_Libreria.class
build/classes/jaxb/generated/LibreriaType.class
build/classes/libreria.xsd
/dist/built-jar.properties
build/built-jar\.properties

library\.db4o
